<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_dialog_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{214,974}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,974}}</string>
                <key>sourceSize</key>
                <string>{214,974}</string>
            </dict>
            <key>bg_dialog_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1084},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_dialog_simple.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{184,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,654}}</string>
                <key>sourceSize</key>
                <string>{184,654}</string>
            </dict>
            <key>bg_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,840},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>bg_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1300,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1300,80}}</string>
                <key>sourceSize</key>
                <string>{1300,80}</string>
            </dict>
            <key>bg_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,978},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>bg_sheer.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1734},{58,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,29}}</string>
                <key>sourceSize</key>
                <string>{58,29}</string>
            </dict>
            <key>bg_sten.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1298},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>bg_table_idx.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1640},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>bg_vague.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1734},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>btn_chat_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1186},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>btn_chat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,972},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>btn_close_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1526},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>btn_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1412},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>btn_confirm_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1480},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_confirm_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1191},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_home_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1298},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>btn_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1708},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>btn_setting_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1594},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>btn_setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1480},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>btn_share_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1558},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_share_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>icon_role0.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,658},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>net_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1084},{90,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,93}}</string>
                <key>sourceSize</key>
                <string>{90,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{491,1822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:041fb1873188a5a33a0b894c671942b4$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
