<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cards01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards24.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards25.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards26.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards27.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards28.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards29.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards30.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards31.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards32.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards33.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards34.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards35.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards36.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards37.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards38.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards39.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards40.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards41.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards42.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards43.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards44.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards45.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards46.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards47.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards48.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards49.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards50.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards51.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards52.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards53.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>cards55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_small.png</string>
            <key>size</key>
            <string>{1850,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff6428a422276a93c7c88fd98d1dff2c$</string>
            <key>textureFileName</key>
            <string>card_small.png</string>
        </dict>
    </dict>
</plist>
