<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>acl_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{884,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{884,73}}</string>
                <key>sourceSize</key>
                <string>{884,73}</string>
            </dict>
            <key>acl_lack_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{698,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,71}}</string>
                <key>sourceSize</key>
                <string>{698,71}</string>
            </dict>
            <key>acl_no_landlord.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{462,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,165}}</string>
                <key>sourceSize</key>
                <string>{462,165}</string>
            </dict>
            <key>acl_wait_landlord.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{539,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,72}}</string>
                <key>sourceSize</key>
                <string>{539,72}</string>
            </dict>
            <key>acl_wait_multiple.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1438},{462,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,72}}</string>
                <key>sourceSize</key>
                <string>{462,72}</string>
            </dict>
            <key>battery_prgrs.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1760},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>bg_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1952},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>bg_battery.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,528},{91,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,36}}</string>
                <key>sourceSize</key>
                <string>{91,36}</string>
            </dict>
            <key>bg_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1176},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>bg_chat_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1198},{219,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,170}}</string>
                <key>sourceSize</key>
                <string>{219,170}</string>
            </dict>
            <key>bg_error.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{855,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{855,70}}</string>
                <key>sourceSize</key>
                <string>{855,70}</string>
            </dict>
            <key>bg_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1021},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>bg_wifi.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1089},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>btn_location_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1838},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>btn_location_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1902},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>clock_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1917},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>clock_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,466},{94,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,60}}</string>
                <key>sourceSize</key>
                <string>{94,60}</string>
            </dict>
            <key>dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,984},{188,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,190}}</string>
                <key>sourceSize</key>
                <string>{188,190}</string>
            </dict>
            <key>icon_sitdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1419},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>info_host.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1917},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>net_mobile.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,843},{39,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,46}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>net_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,466},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>net_wifi.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,390},{55,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,952},{67,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1820},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>star03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1745},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>state_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,621},{58,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,29}}</string>
                <key>sourceSize</key>
                <string>{58,29}</string>
            </dict>
            <key>state_leave.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1838},{179,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,77}}</string>
                <key>sourceSize</key>
                <string>{179,77}</string>
            </dict>
            <key>state_offline.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1760},{179,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,76}}</string>
                <key>sourceSize</key>
                <string>{179,76}</string>
            </dict>
            <key>state_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1601},{179,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,78}}</string>
                <key>sourceSize</key>
                <string>{179,78}</string>
            </dict>
            <key>state_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1681},{179,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,77}}</string>
                <key>sourceSize</key>
                <string>{179,77}</string>
            </dict>
            <key>tips_cards_too_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{386,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,55}}</string>
                <key>sourceSize</key>
                <string>{386,55}</string>
            </dict>
            <key>tips_diff_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1419},{328,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,56}}</string>
                <key>sourceSize</key>
                <string>{328,56}</string>
            </dict>
            <key>tips_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,888},{548,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,56}}</string>
                <key>sourceSize</key>
                <string>{548,56}</string>
            </dict>
            <key>tips_no_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1419},{386,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,56}}</string>
                <key>sourceSize</key>
                <string>{386,56}</string>
            </dict>
            <key>tips_no_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,543},{438,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,56}}</string>
                <key>sourceSize</key>
                <string>{438,56}</string>
            </dict>
            <key>tips_norule.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,702},{494,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,56}}</string>
                <key>sourceSize</key>
                <string>{494,56}</string>
            </dict>
            <key>tips_not_your_cards.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,543},{438,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,56}}</string>
                <key>sourceSize</key>
                <string>{438,56}</string>
            </dict>
            <key>tips_noway.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,543},{439,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,57}}</string>
                <key>sourceSize</key>
                <string>{439,57}</string>
            </dict>
            <key>tips_zhishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,543},{407,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,56}}</string>
                <key>sourceSize</key>
                <string>{407,56}</string>
            </dict>
            <key>txt_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1952},{92,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,45}}</string>
                <key>sourceSize</key>
                <string>{92,45}</string>
            </dict>
            <key>txt_bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1315},{92,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,46}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>txt_buti.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1171},{93,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,46}}</string>
                <key>sourceSize</key>
                <string>{93,46}</string>
            </dict>
            <key>txt_genti.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,438},{93,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,47}}</string>
                <key>sourceSize</key>
                <string>{93,47}</string>
            </dict>
            <key>txt_huiti.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1358},{92,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,46}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>txt_jiaodizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,702},{139,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,47}}</string>
                <key>sourceSize</key>
                <string>{139,47}</string>
            </dict>
            <key>txt_ti.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1266},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comlayer.png</string>
            <key>size</key>
            <string>{448,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca7b1c1c233842337d5fcd71c2394672$</string>
            <key>textureFileName</key>
            <string>comlayer.png</string>
        </dict>
    </dict>
</plist>
