<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allover_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{168,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,170}}</string>
                <key>sourceSize</key>
                <string>{168,170}</string>
            </dict>
            <key>allover_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,2},{150,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,158}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>allover_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,2},{150,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,158}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>allover_ttl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{502,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,108}}</string>
                <key>sourceSize</key>
                <string>{502,108}</string>
            </dict>
            <key>bg_allover1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,814}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,814}}</string>
                <key>sourceSize</key>
                <string>{184,814}</string>
            </dict>
            <key>bg_allover2.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bg_allover_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,112},{124,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,74}}</string>
                <key>sourceSize</key>
                <string>{124,74}</string>
            </dict>
            <key>bg_allover_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,112},{122,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,72}}</string>
                <key>sourceSize</key>
                <string>{122,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover.png</string>
            <key>size</key>
            <string>{1958,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d36c5e636810c5ba51b19a0cf3b88062$</string>
            <key>textureFileName</key>
            <string>gameover.png</string>
        </dict>
    </dict>
</plist>
