<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_qr.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,249},{437,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,598}}</string>
                <key>sourceSize</key>
                <string>{437,598}</string>
            </dict>
            <key>bg_hs_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,923},{185,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,185}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>bg_hs_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1125},{124,734}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,734}}</string>
                <key>sourceSize</key>
                <string>{124,734}</string>
            </dict>
            <key>bg_hs_infoitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,1389},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bg_hs_infotitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1147},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>bg_hs_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1251},{905,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{905,52}}</string>
                <key>sourceSize</key>
                <string>{905,52}</string>
            </dict>
            <key>bg_hs_uid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,1389},{60,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>btn_about_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1147},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{98,116}</string>
            </dict>
            <key>btn_about_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,1329},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{98,116}</string>
            </dict>
            <key>btn_createroom_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,249},{672,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,287}}</string>
                <key>sourceSize</key>
                <string>{672,287}</string>
            </dict>
            <key>btn_createroom_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,538},{672,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,287}}</string>
                <key>sourceSize</key>
                <string>{672,287}</string>
            </dict>
            <key>btn_enterroom_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,249},{672,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,287}}</string>
                <key>sourceSize</key>
                <string>{672,287}</string>
            </dict>
            <key>btn_enterroom_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{672,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,287}}</string>
                <key>sourceSize</key>
                <string>{672,287}</string>
            </dict>
            <key>btn_history_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1251},{172,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,182}}</string>
                <key>sourceSize</key>
                <string>{172,182}</string>
            </dict>
            <key>btn_history_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1305},{172,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,182}}</string>
                <key>sourceSize</key>
                <string>{172,182}</string>
            </dict>
            <key>btn_hs_set_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1305},{172,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,182}}</string>
                <key>sourceSize</key>
                <string>{172,182}</string>
            </dict>
            <key>btn_hs_set_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1305},{172,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,182}}</string>
                <key>sourceSize</key>
                <string>{172,182}</string>
            </dict>
            <key>btn_hsback_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,1195},{103,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,132}}</string>
                <key>sourceSize</key>
                <string>{103,132}</string>
            </dict>
            <key>btn_hsback_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,1061},{103,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,132}}</string>
                <key>sourceSize</key>
                <string>{103,132}</string>
            </dict>
            <key>btn_hsbind_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,1251},{127,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,136}}</string>
                <key>sourceSize</key>
                <string>{127,136}</string>
            </dict>
            <key>btn_hsbind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,923},{127,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,136}}</string>
                <key>sourceSize</key>
                <string>{127,136}</string>
            </dict>
            <key>btn_store_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1305},{172,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,182}}</string>
                <key>sourceSize</key>
                <string>{172,182}</string>
            </dict>
            <key>btn_store_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1305},{172,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,182}}</string>
                <key>sourceSize</key>
                <string>{172,182}</string>
            </dict>
            <key>flg_bind_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,827},{542,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,296}}</string>
                <key>sourceSize</key>
                <string>{542,296}</string>
            </dict>
            <key>flg_bind_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,849},{542,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,296}}</string>
                <key>sourceSize</key>
                <string>{542,296}</string>
            </dict>
            <key>hs_banner_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{1908,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1908,106}}</string>
                <key>sourceSize</key>
                <string>{1908,106}</string>
            </dict>
            <key>hs_banner_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,137}}</string>
                <key>sourceSize</key>
                <string>{1920,137}</string>
            </dict>
            <key>hs_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{608,947}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,947}}</string>
                <key>sourceSize</key>
                <string>{608,947}</string>
            </dict>
            <key>hs_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,70},{90,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,66}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>hs_msn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1147},{46,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,49}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>hs_txt_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1435},{154,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,36}}</string>
                <key>sourceSize</key>
                <string>{154,36}</string>
            </dict>
            <key>hs_txt_roomlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1147},{231,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,36}}</string>
                <key>sourceSize</key>
                <string>{231,36}</string>
            </dict>
            <key>hs_uid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{90,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,66}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hallscene.png</string>
            <key>size</key>
            <string>{2018,1487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:179c419c4de5822e1ea138761f0f9958$</string>
            <key>textureFileName</key>
            <string>hallscene.png</string>
        </dict>
    </dict>
</plist>
