<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_update.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,24},{60,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,34}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>btn_rank_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_rank_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_tour_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1254},{672,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,287}}</string>
                <key>sourceSize</key>
                <string>{672,287}</string>
            </dict>
            <key>btn_tour_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,580},{672,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,287}}</string>
                <key>sourceSize</key>
                <string>{672,287}</string>
            </dict>
            <key>btn_update_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1928},{212,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,81}}</string>
                <key>sourceSize</key>
                <string>{212,81}</string>
            </dict>
            <key>btn_update_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,206},{212,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,81}}</string>
                <key>sourceSize</key>
                <string>{212,81}</string>
            </dict>
            <key>btn_weixin_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{672,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,287}}</string>
                <key>sourceSize</key>
                <string>{672,287}</string>
            </dict>
            <key>btn_weixin_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{672,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,287}}</string>
                <key>sourceSize</key>
                <string>{672,287}</string>
            </dict>
            <key>line_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{1436,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1436,532}}</string>
                <key>sourceSize</key>
                <string>{1436,532}</string>
            </dict>
            <key>update_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,86},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>update_prgrs.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>linescene.png</string>
            <key>size</key>
            <string>{825,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:912fa7bf7521a10685ffa0783d01d54f$</string>
            <key>textureFileName</key>
            <string>linescene.png</string>
        </dict>
    </dict>
</plist>
