<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnVoice.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1334},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>btnVoice_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1220},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>btn_chat_emo_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,608},{182,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,72}}</string>
                <key>sourceSize</key>
                <string>{182,72}</string>
            </dict>
            <key>btn_chat_emo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1040},{180,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>btn_chat_his_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,534},{182,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,72}}</string>
                <key>sourceSize</key>
                <string>{182,72}</string>
            </dict>
            <key>btn_chat_his_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,968},{180,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>btn_chat_often_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,460},{182,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,72}}</string>
                <key>sourceSize</key>
                <string>{182,72}</string>
            </dict>
            <key>btn_chat_often_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,896},{180,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>btn_chat_send_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1448},{106,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,48}}</string>
                <key>sourceSize</key>
                <string>{106,48}</string>
            </dict>
            <key>btn_chat_send_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1112},{106,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,48}}</string>
                <key>sourceSize</key>
                <string>{106,48}</string>
            </dict>
            <key>btn_gift_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{140,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,146}}</string>
                <key>sourceSize</key>
                <string>{140,146}</string>
            </dict>
            <key>btn_gift_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{140,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,146}}</string>
                <key>sourceSize</key>
                <string>{140,146}</string>
            </dict>
            <key>btn_music_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1906},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_music_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1784},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_shop_buy_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,789},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_shop_buy_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,682},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_sound_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1662},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_sound_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1540},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>chat_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1838},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>chat_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1772},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>chat_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,435},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>chat_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,625},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gift_egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,926},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>gift_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,424},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>gift_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,974},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>gift_kiss.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,558},{65,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,41}}</string>
                <key>sourceSize</key>
                <string>{65,41}</string>
            </dict>
            <key>gift_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1148},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>gps_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,398},{158,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,12}}</string>
                <key>sourceSize</key>
                <string>{158,12}</string>
            </dict>
            <key>icon_off_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1418},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>icon_off_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1296},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>player_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,398},{210,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,60}}</string>
                <key>sourceSize</key>
                <string>{210,60}</string>
            </dict>
            <key>player_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1498},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>player_information.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{409,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,290}}</string>
                <key>sourceSize</key>
                <string>{409,290}</string>
            </dict>
            <key>player_rod.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,294},{630,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,10}}</string>
                <key>sourceSize</key>
                <string>{630,10}</string>
            </dict>
            <key>set_slidball_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1112},{128,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,90}}</string>
                <key>sourceSize</key>
                <string>{128,90}</string>
            </dict>
            <key>set_slidball_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{128,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,90}}</string>
                <key>sourceSize</key>
                <string>{128,90}</string>
            </dict>
            <key>set_sliderPrgrs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{400,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,50}}</string>
                <key>sourceSize</key>
                <string>{400,50}</string>
            </dict>
            <key>set_sliderTrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{400,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,50}}</string>
                <key>sourceSize</key>
                <string>{400,50}</string>
            </dict>
            <key>shopCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1204},{124,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,90}}</string>
                <key>sourceSize</key>
                <string>{124,90}</string>
            </dict>
            <key>shop_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{1120,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1120,170}}</string>
                <key>sourceSize</key>
                <string>{1120,170}</string>
            </dict>
            <key>voice_speaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1702},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>voice_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{141,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,158}}</string>
                <key>sourceSize</key>
                <string>{141,158}</string>
            </dict>
            <key>voice_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1026},{52,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,120}}</string>
                <key>sourceSize</key>
                <string>{52,120}</string>
            </dict>
            <key>voice_tip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,398},{24,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,10}}</string>
                <key>sourceSize</key>
                <string>{24,10}</string>
            </dict>
            <key>voice_tipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1600},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>propertylayer.png</string>
            <key>size</key>
            <string>{416,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3acc466048d0a971fafdab08ea78155$</string>
            <key>textureFileName</key>
            <string>propertylayer.png</string>
        </dict>
    </dict>
</plist>
