<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_rp_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{216,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,126}}</string>
                <key>sourceSize</key>
                <string>{216,126}</string>
            </dict>
            <key>bg_rp_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,768},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>bg_rp_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>btn_care_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_care_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_gradeback_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,845},{112,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,118}}</string>
                <key>sourceSize</key>
                <string>{112,118}</string>
            </dict>
            <key>btn_gradeback_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,731},{112,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,118}}</string>
                <key>sourceSize</key>
                <string>{112,118}</string>
            </dict>
            <key>btn_playBack_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,514},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_playBack_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_rp_back_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{254,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,100}}</string>
                <key>sourceSize</key>
                <string>{254,100}</string>
            </dict>
            <key>btn_rp_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,258},{254,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,100}}</string>
                <key>sourceSize</key>
                <string>{254,100}</string>
            </dict>
            <key>btn_rp_pause_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{254,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,100}}</string>
                <key>sourceSize</key>
                <string>{254,100}</string>
            </dict>
            <key>btn_rp_pause_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{254,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,100}}</string>
                <key>sourceSize</key>
                <string>{254,100}</string>
            </dict>
            <key>btn_rp_play_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{254,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,100}}</string>
                <key>sourceSize</key>
                <string>{254,100}</string>
            </dict>
            <key>btn_rp_play_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,100}}</string>
                <key>sourceSize</key>
                <string>{254,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>replaylayer.png</string>
            <key>size</key>
            <string>{363,959}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71f5ee8203e3fe2fe2e4eddd1f505bd8$</string>
            <key>textureFileName</key>
            <string>replaylayer.png</string>
        </dict>
    </dict>
</plist>
