<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_exitroom_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>btn_exitroom_agree_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1179},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_exitroom_agree_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_exitroom_reject_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_exitroom_reject_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_rm_back_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_rm_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_rm_create_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_rm_create_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_rm_del_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_rm_del_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_rm_num_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_rm_num_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>rm_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1286},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>rm_radio_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1510},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rm_radio_bg_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rm_radio_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1510},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rm_radio_cross_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rm_txt_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1454},{119,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,54}}</string>
                <key>sourceSize</key>
                <string>{119,54}</string>
            </dict>
            <key>rm_txt_df.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1592},{118,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,54}}</string>
                <key>sourceSize</key>
                <string>{118,54}</string>
            </dict>
            <key>rm_txt_ff.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{119,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,54}}</string>
                <key>sourceSize</key>
                <string>{119,54}</string>
            </dict>
            <key>rm_txt_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1630},{118,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,54}}</string>
                <key>sourceSize</key>
                <string>{118,54}</string>
            </dict>
            <key>rm_txt_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1648},{119,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,53}}</string>
                <key>sourceSize</key>
                <string>{119,53}</string>
            </dict>
            <key>rm_txt_wf.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1398},{119,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,54}}</string>
                <key>sourceSize</key>
                <string>{119,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room.png</string>
            <key>size</key>
            <string>{256,1703}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:283e29dea6c83350df64edfde40ebad9$</string>
            <key>textureFileName</key>
            <string>room.png</string>
        </dict>
    </dict>
</plist>
