<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_buchu_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1916},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_buchu_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1871},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_buchu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1809},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_bujiao_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1764},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_bujiao_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1702},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_buti_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1657},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_buti_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1595},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_chongxuan_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1550},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_chongxuan_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1488},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_chupai_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1443},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_chupai_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1381},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_genti_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1336},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_genti_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_huiti_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1229},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_huiti_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1167},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_invite_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,816},{304,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,128}}</string>
                <key>sourceSize</key>
                <string>{304,128}</string>
            </dict>
            <key>btn_invite_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{304,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,128}}</string>
                <key>sourceSize</key>
                <string>{304,128}</string>
            </dict>
            <key>btn_jiaodizhu_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1122},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_jiaodizhu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_start_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{304,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,128}}</string>
                <key>sourceSize</key>
                <string>{304,128}</string>
            </dict>
            <key>btn_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,510},{304,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,128}}</string>
                <key>sourceSize</key>
                <string>{304,128}</string>
            </dict>
            <key>btn_switch_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{304,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,128}}</string>
                <key>sourceSize</key>
                <string>{304,128}</string>
            </dict>
            <key>btn_switch_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{304,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,128}}</string>
                <key>sourceSize</key>
                <string>{304,128}</string>
            </dict>
            <key>btn_ti_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,953},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_ti_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_tishi_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,256},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_tishi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_zhanji_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{380,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,160}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
            <key>btn_zhanji_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,160}}</string>
                <key>sourceSize</key>
                <string>{380,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userbuttons.png</string>
            <key>size</key>
            <string>{510,2023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54276289cf1729ebcd881915205da80e$</string>
            <key>textureFileName</key>
            <string>userbuttons.png</string>
        </dict>
    </dict>
</plist>
